<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <package name="com.joljak.dto"/>
        <package name="com.joljak.base.dto"/>
        <package name="com.joljak.api.dto"/>
        <package name="com.joljak.api.driver.dto"/>
    </typeAliases>
    <mappers>
        <mapper resource="mapper/auth.xml"/>
        <mapper resource="mapper/code.xml"/>
        <mapper resource="mapper/user.xml"/>
        <mapper resource="mapper/files.xml"/>
        <mapper resource="mapper/board.xml"/>
        <mapper resource="mapper/room.xml"/>
    </mappers>
</configuration>